* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

a:hover {
    opacity: 0.9;
}

.logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(0, 0, 88);
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li:hover{
    text-transform:uppercase;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.4s ease-in;
}

@media (max-width: 999px){

    body, header {
        overflow: auto;
        overflow-x: hidden;
    }
    .nav-list {
        display: none;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        text-transform: uppercase;
        font-size: 12px;
    }
    .mobile-menu{
        display: block;
    }
}
    
.nav-list.active {
    display: flex;
    position: absolute;
    top: 9vh;
    right: 0;
    width: 100vw;
    height: 25vh;
    background: rgb(0, 0, 88);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    transition: transform 0.8s ease-in;
    transform: translateX(0);
}


.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(90px);
    } to {
        opacity: 1;
        transform: translateX(0)
    }
}   