<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='fav.ico/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='fav.ico/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='fav.ico/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='fav.ico/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='fav.ico/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114"
        href="{{url_for('static', filename='fav.ico/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120"
        href="{{url_for('static', filename='fav.ico/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144"
        href="{{url_for('static', filename='fav.ico/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152"
        href="{{url_for('static', filename='fav.ico/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{url_for('static', filename='fav.ico/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{url_for('static', filename='fav.ico/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='fav.ico/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='fav.ico/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='fav.ico/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='fav.ico/manifest.json')}}">
    <base href="/" target="_parent">
    <!-- <script src="{{url_for('static', filename='js/navbar.js')}}" defer></script> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
</head>

<body>
    <main class="container">
        <h2>Login</h2>
        <form method="post">
            <div class="input-field">
                <input type="text" name="email" required placeholder="Digite seu email" id="email">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" required placeholder="Digite sua senha" id="password">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Continue">
            <a href="/index.html" class="voltar">Voltar</a>
        </form>
    </main>
</body>

</html>